/* .spline {
    scale: 0.7;
}

@media (min-width: 768px) {
    .spline {
        scale: 0.8;
    }
}

@media (min-width: 1024px) {
    .spline {
        scale: 0.8;
    }
}
@media (min-width: 1440px) {
    .spline {
        scale: 1;
    }
} */